<div class="ui-grid ui-grid-responsive ui-fluid ui-grid-pad">
  <div class="ui-grid-row">
    <div class="ui-grid-col-2"><label for="taskName">Name:</label></div>
    <div class="ui-grid-col-8">
      <input style="width: 200px;" id="taskName" type="text" size="30" pInputText [disabled]="isDisabled" [(ngModel)]="task.name" #projectName="ngModel" />
    </div>
  </div>
  <div class="ui-grid-row">
    <div class="ui-grid-col-2"><label for="status">Status:</label></div>
    <div class="ui-grid-col-2">
      <p-dropdown id="status" [options]="statuses" [(ngModel)]="currentStatus.name" [placeholder]="task.status" [disabled]="isDisabled" [autoWidth]="false"></p-dropdown>
    </div>
  </div>
  <div class="ui-grid-row">
    <div class="ui-grid-col-2"><label for="developer">For developer:</label></div>
    <div class="ui-grid-col-2">
      <p-dropdown id="developer" [options]="developersList" [(ngModel)]="selectedDeveloper" [placeholder]="currentDeveloper.username" [disabled]="isDisabled" [autoWidth]="false"></p-dropdown>
    </div>
  </div>
  <div class="ui-grid-row">
    <div class="ui-grid-col-2"><label for="description">Description:</label></div>
    <div class="ui-grid-col-8">
      <textarea id="description" pInputTextarea disabled="false" rows="7" cols="40" autoResize="false" style="background-color: white; resize: none" [disabled]="isDisabled">{{task.description}}</textarea>
    </div>
  </div>
  <button style="width: 100px;" type="button" id="changeButton" (click)="toggleDisabled()" pButton label="Change"></button>
</div>

<p-dataList [value]="comments" [paginator]="true" [rows]="25">
  <p-header>
    Comments
  </p-header>
  <ng-template let-comment pTemplate="item">
    <p-panel [header]="comment.name" [toggleable]="false" [style]="{'margin-bottom':'20px'}">
      <div innerHTML="{{comment.content}}">
      </div>
      <p-footer>
        <div class="ui-helper-clearfix">
          <button (click)="delete(comment.id)" pButton type="button" label="Delete"></button>
          <!--<a (click)="delete(comment.id)">Delete</a>-->
          <!--<button (click)="change(comment.content)" scrollTo href="#editor" pButton type="button" label="Change"></button>-->
          <a  scrollTo href="#editor" (click)="change(comment.content, comment.id)" >Change</a>
        </div>
      </p-footer>
    </p-panel>
  </ng-template>
</p-dataList>

<div>
  <section id="editor"></section>
<p-editor [(ngModel)]="commentContent" [style]="{'height':'220px'}"></p-editor>
<button pButton type="button" label="save"(click)="createComment()"></button>
</div>
